<mat-toolbar>
  @for (item of navBarItems; track $index) {
  <button mat-button routerLink="{{ item.segment }}" routerLinkActive="active">
    @if (item.segment==='home') {
    <mat-icon
      svgIcon="logo"
      aria-hidden="false"
      aria-label="logo SVG icon"
    ></mat-icon>
    }
    {{ item.name }}
  </button>
  }
  <span class="example-spacer"></span>
  @if (loggedIn) {
  <button
    mat-icon-button
    aria-label="Login icon-button with login icon"
    (click)="logout()"
  >
    <mat-icon>logout</mat-icon>
  </button>
  }@else {
  <button
    mat-icon-button
    aria-label="Logout icon-button with logout icon"
    routerLink="login"
  >
    <mat-icon>login</mat-icon>
  </button>
  }
</mat-toolbar>
