<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group style="display: block; text-align: center">
      @if (title == 'Résultats comptables') {
      <mat-card-title
        [ngStyle]="{ color: amount >= 0 ? '#00b426' : 'var(--mat-sys-error)' }"
        >{{ amount | currency : "EUR" }}
      </mat-card-title>
      }@else {
      <mat-card-title>{{ amount | currency : "EUR" }} </mat-card-title>
      } @if (havePreviousAmount) {
      <mat-card-subtitle>{{ previousAmount }}</mat-card-subtitle>
      }
      <mat-card-subtitle>
        {{ title }}
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content style="text-align: center"> </mat-card-content>
</mat-card>
