<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group style="display: block; text-align: center">
      @if (titleGraph == 'Impôts') {
      <mat-card-title>{{ sales | currency : "EUR" }} </mat-card-title>
      }@else {
      <mat-card-title
        [ngStyle]="{ color: sales >= 0 ? '#00b426' : 'var(--mat-sys-error)' }"
        >{{ sales | currency : "EUR" }}
      </mat-card-title>
      }
      <mat-card-subtitle>
        {{ titleGraph }}
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content style="text-align: center"> </mat-card-content>
</mat-card>
