<h2>Business dashboard</h2>

<mat-grid-list cols="4" rowHeight="fit" style="height: 70vh" gutterSize="15px">
  <mat-grid-tile [colspan]="3" [rowspan]="2">
    <div id="filters-tile">
      @if (store.isLoading()) {
      <hand-spinner></hand-spinner>
      } @else {
      <app-filter
        [titleForm]="'Période'"
        [filters]="periodes"
        (filterUpdate)="store.updateTimeFilter($event)"
      ></app-filter>
      <app-filter
        [titleForm]="'Catégories'"
        [filters]="categories"
        (filterUpdate)="store.updateCategoryFilter($event)"
      ></app-filter>
      <app-filter
        [titleForm]="'Types de ventes'"
        [filters]="typesVentes"
        (filterUpdate)="store.updateSaleFilter($event)"
      ></app-filter
      >}
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="12"
    ><div id="metrics-tile">
      @if (store.isLoading()) {
      <hand-spinner></hand-spinner>
      } @else { @for (filter of filters; track $index) {
      <app-graph-card [titleGraph]="filter.title" [sales]="filter.sales">
      </app-graph-card>
      }}
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="12" [style.background]="'lightgrey'"
    ><div id="chart-tile">
      @if (store.isLoading()) {
      <hand-spinner></hand-spinner>
      } @else {chart}
    </div></mat-grid-tile
  >
</mat-grid-list>
