<h2>Business dashboard</h2>

<mat-grid-list cols="4" rowHeight="fit" style="height: 70vh" gutterSize="15px">
  <mat-grid-tile [colspan]="3" [rowspan]="2">
    <div id="filters-tile">
      <app-filter
        [titleForm]="'Période'"
        [filters]="periodes"
        (filterUpdate)="store.updateTimeFilter($event)"
      ></app-filter>
      <app-filter
        [titleForm]="'Catégories'"
        [filters]="categories"
        (filterUpdate)="store.updateCategoryFilter($event)"
      ></app-filter>
      <app-filter
        [titleForm]="'Types de ventes'"
        [filters]="typesVentes"
        (filterUpdate)="store.updateSaleFilter($event)"
      ></app-filter>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="12"
    ><div id="metrics-tile">
      @if (store.isLoading()) {
      <hand-spinner></hand-spinner>
      } @else {
      <h3>Métriques pour {{ actualDateGroup }}</h3>
      @for (metric of metrics; track $index) {
      <app-graph-card
        [title]="metric.title"
        [amount]="metric.amount"
        [havePreviousAmount]="metric.havePreviousAmount"
        [previousAmount]="metric?.previousAmount"
      >
      </app-graph-card>
      }}
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" [rowspan]="12"
    ><div id="chart-tile">
      @if (store.isLoading()) {
      <hand-spinner></hand-spinner>
      } @else {
      <app-line-chart
        [revenuesByPeriod]="store.revenues.revenuesByPeriod()"
        [billsByPeriod]="store.revenues.billsByPeriod()"
      ></app-line-chart>
      }
    </div></mat-grid-tile
  >
</mat-grid-list>
