<h2>Products dashboard</h2>

<mat-tab-group
  animationDuration="0ms"
  (selectedTabChange)="store.updateCategory($event.index)"
>
  @for (category of categories; track $index) {
  <mat-tab label="{{ category.name }}">
    @if (store.isLoading()) {
      <div class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
    } @else {
    <app-products-table
      [products]="store.sortedProducts()"
      (productUpdate)="handleProductUpdate($event)"
      (productsUpdate)="handleProductsUpdate($event)"
    ></app-products-table>
    }
  </mat-tab>
  }
</mat-tab-group>
