table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

mat-form-field {
  width: 100px;
}

.table-container {
  overflow: auto;
  height: 100vh;
}

.send-all-button-container {
  display: flex;
  justify-content: center;
  margin: 1%;
}
