table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

mat-form-field {
  width: 100px;
}

.updateStock {
  display: flex;
  flex-wrap: wrap;
}

// .mat-mdc-row:hover .mat-mdc-cell {
//   background-color: rgba(25, 118, 210, 0.1);
// }

.mat-mdc-form-field{
    margin: 1em 1em 0 0;
}

.table-container {
  overflow: auto;
  height: 100vh;
}

.send-all-button-container {
  display: flex;
  justify-content: center;
  margin: 1%;
}

// Styles pour le snack-bar personnalisé
::ng-deep .custom-snackbar {
  &.mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: #2196F3;
    --mat-mdc-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
  }

  .mdc-snackbar__surface {
    border-radius: 8px !important;
  }

  .mat-mdc-snack-bar-actions {
    padding-inline-start: 8px;
  }
}

::ng-deep .error-snackbar {
  &.mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: #f44336;
    --mat-mdc-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
  }

  .mdc-snackbar__surface {
    border-radius: 8px !important;
  }
}
