/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// html {
//   @include mat.theme((
//     color: mat.$yellow-palette,
//     typography: Roboto,
//     density: -2,
//   ));
// }

h1,
h2 {
  color: var(--mat-sys-on-primary-container);
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary-container),
      container-text-color: var(--mat-sys-on-primary-container),
    )
  );
  @include mat.icon-overrides((// color: var(--mat-sys-on-primary-container),
  ));
  @include mat.table-overrides(
    (
      background-color: var(--mat-sys-surface-container-lowest),
    )
  );
  @include mat.paginator-overrides(
    (
      container-background-color: var(--mat-sys-surface-container-lowest),
    )
  );
  @include mat.select-overrides((
    panel-background-color: #fff,
    focused-arrow-color: blue
  ))
}
